body {
  font-family: "Arial", sans-serif;
  width: 80%;
  margin: 0 auto;
}

#input-form {
  border: 1px solid black;
  padding: 1rem;
}

.cust-input {
    display: flex;
}

.cust-input label {
    flex-basis: 20%;
}

#count-vips {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
}

#vips {
    padding: 0;
}

#vips li {
    padding: 1rem;
    margin-top: 0.5rem;
    list-style: none;
    font-weight: bold;
}

#vips .vip {
    background-color: blue;
    color: white;
}

#message li {
    display: none;
    color: red;
}

#message li.turned-on {
    display: list-item;
}

